#
# Extra config
#

# Reset CONFIG_LOCALVERSION
CONFIG_LOCALVERSION=""


# Compile ln8000 driver as module
CONFIG_CHARGER_LN8000=m

# Configure usb gadgets
CONFIG_USB_ETH=m
CONFIG_USB_ETH_RNDIS=y
# CONFIG_USB_ETH_EEM is not set
CONFIG_USB_GADGETFS=m
CONFIG_USB_FUNCTIONFS=m
CONFIG_USB_FUNCTIONFS_ETH=y
CONFIG_USB_FUNCTIONFS_RNDIS=y
CONFIG_USB_FUNCTIONFS_GENERIC=y
CONFIG_USB_G_SERIAL=m
CONFIG_USB_CDC_COMPOSITE=m
CONFIG_USB_G_ACM_MS=m
CONFIG_USB_G_HID=m
CONFIG_USB_RAW_GADGET=m

# Configure fs support
CONFIG_MSDOS_FS=m
CONFIG_NTFS3_FS=m
CONFIG_NTFS3_64BIT_CLUSTER=y
CONFIG_NTFS3_LZX_XPRESS=y
CONFIG_NTFS3_FS_POSIX_ACL=y
CONFIG_NTFS_FS=m


# Configure zram
CONFIG_ZRAM=m
CONFIG_ZRAM_BACKEND_LZ4=y
CONFIG_ZRAM_BACKEND_LZ4HC=y
CONFIG_ZRAM_BACKEND_ZSTD=y
CONFIG_ZRAM_BACKEND_DEFLATE=y
CONFIG_ZRAM_BACKEND_842=y
CONFIG_ZRAM_BACKEND_FORCE_LZO=n
CONFIG_ZRAM_BACKEND_LZO=y
CONFIG_ZRAM_DEF_COMP_LZORLE=n
CONFIG_ZRAM_DEF_COMP_ZSTD=y
# CONFIG_ZRAM_DEF_COMP_LZO is not set
CONFIG_ZRAM_DEF_COMP="zstd"

# Enable zswap
CONFIG_ZSWAP=y
CONFIG_ZSWAP_DEFAULT_ON=y
CONFIG_ZSWAP_COMPRESSOR_DEFAULT_ZSTD=y
CONFIG_ZSWAP_COMPRESSOR_DEFAULT="zstd"

# Disbale efi rtc
CONFIG_RTC_DRV_EFI=n

CONFIG_DRM_PRIVACY_SCREEN=y

# Enable compressed firmware support
CONFIG_FW_LOADER_COMPRESS=y
CONFIG_FW_LOADER_COMPRESS_XZ=y
CONFIG_FW_LOADER_COMPRESS_ZSTD=y

# Enable framebuffer console rotaion
CONFIG_FRAMEBUFFER_CONSOLE_ROTATION=y

# NF tables raw table
CONFIG_IP_NF_RAW=y
CONFIG_NETFILTER_XT_CONNMARK=m
CONFIG_NETFILTER_XT_TARGET_CONNMARK=m
CONFIG_NETFILTER_XT_TARGET_HMARK=m
CONFIG_NETFILTER_XT_TARGET_MARK=m
CONFIG_NETFILTER_XT_MATCH_CONNMARK=m
CONFIG_NETFILTER_XT_MATCH_MARK=m

# Dsiable KVM
CONFIG_KVM_COMMON=n
CONFIG_HAVE_KVM_IRQCHIP=n
CONFIG_HAVE_KVM_IRQ_ROUTING=n
CONFIG_HAVE_KVM_DIRTY_RING=n
CONFIG_HAVE_KVM_DIRTY_RING_ACQ_REL=n
CONFIG_NEED_KVM_DIRTY_RING_WITH_BITMAP=n
CONFIG_KVM_MMIO=n
CONFIG_HAVE_KVM_MSI=n
CONFIG_HAVE_KVM_READONLY_MEM=n
CONFIG_HAVE_KVM_CPU_RELAX_INTERCEPT=n
CONFIG_KVM_VFIO=n
CONFIG_KVM_GENERIC_DIRTYLOG_READ_PROTECT=n
CONFIG_HAVE_KVM_IRQ_BYPASS=n
CONFIG_HAVE_KVM_VCPU_RUN_PID_CHANGE=n
CONFIG_KVM_XFER_TO_GUEST_WORK=n
CONFIG_KVM_GENERIC_HARDWARE_ENABLING=n
CONFIG_KVM_GENERIC_MMU_NOTIFIER=n
CONFIG_VIRTUALIZATION=n
CONFIG_KVM=n
